.popup__field-rank {
  max-width: 100%;
  min-height: 27px;
  padding: 0;
  margin: 0 0 48px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.popup__field-rank::-webkit-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-rank::-moz-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-rank::-ms-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-rank::placeholder {
  font-family: inherit;
  color: #000;
}

@media screen and (max-width: 934px) {
  .popup__field-rank {
    margin: 0 0 45px;
  }
}