.profile__info {
  max-width: 336px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 30px;
  position: relative;
}

@media screen and (max-width: 934px) {
  .profile__info {
    max-width: 282px;
    margin: 26px 0 36px;
    justify-content: center;
  }
}