.popup__field-name {
  max-width: 100%;
  min-height: 27px;
  padding: 0;
  margin: 0 0 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.popup__field-name::-webkit-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-name::-moz-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-name::-ms-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field-name::placeholder {
  font-family: inherit;
  color: #000;
}