.popup__field {
  max-width: 100%;
  min-height: 27px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.popup__field:first-child {
  margin: 0 0 30px;
}

.popup__field:nth-child(2) {
  margin: 0 0 48px;
}

@media screen and (max-width: 934px) {
  .popup__field:nth-child(2) {
    margin: 0 0 45px;
  }
}

.popup__field::-webkit-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field::-moz-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field::-ms-input-placeholder {
  font-family: inherit;
  color: #000;
}

.popup__field::placeholder {
  font-family: inherit;
  color: #000;
}